
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter,"Poppins", sans-serif;
  color: black;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
  font-family: Inter,Roboto,sans-serif;
  background-color: white;

}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

.fd-callout-note {
  margin: 0;
  padding: 12px 16px;
  background-color: #fff;
  border: 1px solid #ebedf0;
  border-left: 6px solid;
  border-radius: 4px;
  border-radius: 8px;
  color: rgb(102, 102, 102);
  border-left: 6px solid #08888f;
}
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    /*color: #333;  */
    color: black;
}

header {
    background: rgb(30, 47, 82);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none !important;
}
a{
  text-decoration: none !important;
  font-weight: 600;
}

.main {
    max-width: 70%;
    line-height: 2;
    margin-left: 50px;
    padding-left: 40px;

    background: #fff;    
    height:fit-content;    
}

h1,h2,h3{
    /*font-family: 'Titallium Web';*/
    padding: 0;
    margin-top:10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    word-wrap: break-word;
    word-break: break-word;
}
h1, h2, h3, h3 > a {
    /*color: #044caf;*/
}
h1{
  font-size: 26px;
  font-family: sans-serif;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

code {
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0d122b;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li:after{
  /*content: '+';*/

}
/*.sidemenu li a{
  color:white;
  text-decoration: none;
  text-align: left;
  display: block;
  line-height: 2;
  font-family: 'Roboto'
}*/
.main-body{
  position: absolute;
  left:20%;
  top:75px;
  height:calc(100% - 75px);
  width:80%;
  background-color: white;
  /*background-color: #f8f9fa!important;*/
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: auto;
  font-size: 16px;
  /*background-color: #f0f8ff !important;*/
}
.topmenu{
  position: absolute;
  left:0%;
  top:0%;
  height:75px;
  width:100%;
 /* background-color: #f0f8ff !important;*/
}
/*.sidemenu{
  padding-left:30px;
  height:calc(100% - 75px);
  position:absolute;
  left:0px;
  top:75px;
  width:220px;

  
}
.sidemenu ul{
  list-style: none;  
}*/

/*.sidemenu a{
  text-decoration: none;
  color:white;
}
.submenu{
  /*display: none;*/
  /*flex-direction: column;*/  
/*}*/
.active{
  display:flex;
}
.ss-button{
 background-color:rgb(76, 120, 237);
 font-weight:600;
 font-size: 14px;
 padding-top:5px;
 padding-bottom:5px;
 padding-left:10px;
 padding-right:10px; 
 color:white;
 text-align:center; 
 font-family: sans-serif;
 border-radius:5px;
 border:1px solid rgb(76, 120, 237);
 margin-right: 10px;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
        h1, h2 {
            /*color: #0056b3;*/
        }
        .note {
            background-color: #e7f3fe;
            border-left: 6px solid #2196F3;
            padding: 10px;
            margin: 20px 0;
        }
        .btn {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #0056b3;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }
        .btn:hover {
            background-color: #003f88;
        }



/* Import Google font - Poppins */


/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}



/* sidebar */
.sidebar {
  background-color: var(--white-color);
  min-width: 260px;
  width:20%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
  margin-right:30px;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}

.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {

  background: #f5f5f5;
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}
